<% layout('tpl/layout.html') -%>
<style>
	.content .item {
	    background: #f4f4f4 none repeat scroll 0 0;
	    width: 100%;
	}

	.content h2 {
	    display: block;
	    font-size: 2.6rem;
	    padding: 40px 0;
	    text-align: center;
	}
	.content .item .item-i {
	    border-bottom: 1px solid #ccc;
	    margin: 0 auto;
	    width: 80%;
	}

	.content .item .item-i dt {
	    margin-top: 30px;
	}
	.content .item .item-i dt {
	    color: #666;
	    display: block;
	    font-size: 1.4rem;
	    line-height: 30px;
	}
</style>
<div class="container content" style="margin-top: 50px;background-color: #f4f4f4;">
	<h2>&mdash; ·关于我们· &mdash;</h2>	
	<div class="item">
		<div class="item-i">
			<h3>公司简介</h3>
			<dl>
				<dt>广州数据交易服务有限公司是由广州市政府发起并批准设立，由北京亚信数据有限公司、广州市信息安全测评中心、广州交易所集团有限公司共同出资创立，2016年3月正式挂牌成立并开始运营，是广州大数据、互联网+创新的重要成果，是中国首批大数据交易中心之一。
广州数据交易服务有限公司主要是面向全国提供创新型数据交易服务，采用“政府指导，市场化运作”的方针，遵循“公平、开放、安全、可控”的基本原则，旨在促进数据流动，规范数据交易行为，维护数据交易市场秩序，保护数据交易各方合法权益，向社会提供完整的数据交易、支付、结算、交付、安全保障、数据资产管理等服务。
	</dt>
			</dl>
		</div>	
		<div class="item-i">
			<h3>公司定位</h3>
			<dl>
				<dt>
					1、	具有公信力的数据交易市场
广州数据交易服务有限公司在促进数据流通的同时，通过运用各种行政指令以及法律法规来维护市场交易秩序、保护交易各方的合法权益、规范数据的交易行为，是具有公信力的数据交易市场。大数据交易中心组织会员单位一起定制各行业领域的大数据标准、规则和安全规范。
				</dt>
				<dt>
					2、	独立的第三方市场
广州数据交易服务有限公司不是数据的拥有方，不做数据的加工和服务，只是提供一个独立的市场，实现数据的流通，完成数据买卖双方的数据交易撮合服务。数据的加工和服务是由产业链上的技术、咨询服务公司来完成的。
				</dt>
				<dt>
					3、	撮合买卖双方进行数据交易的市场
广州数据交易服务有限公司提供一个数据交易的平台，供数据源方和数据购买方进行数据的交易、支付和结算，促进跨行业、跨领域的数据流通汇聚，满足数据买卖双方的需要，让数据产生出新的价值。
				</dt>
				<dt>
					4、	全球离岸数据交易重要市场 
广州数据交易服务有限公司落户南沙，将用足用好自由贸易试验区先行先试政策优势和开放优势，探索大数据在用好“两个市场、两种资源”方面的通道，促进数据产品进出口贸易，丰富自由贸易试验区内涵，最终参与数据交易、产品国际标准制定。
另外在产业国际资源整合方面，我们将国际知名的技术方案以及产品提供商（Oracle、SAP、IBM等）与数据和模型能力供应商（四大咨询，Forrester,Gartner等）形成产业战略合作联盟，发挥其技术、知识以及人才优势推动大数据交易国际化的进程。并且通过中国国际商会和贸易促进会、各官方以及社会产业联盟组织形成我们的渠道网络进行业务拓展以及交流合作，推进广州大数据交易中心的国际化步伐模式的迭代式演进。
初期基于广州区域的产业优势在跨境贸易电商等领域，将广州、香港、澳门这个中心区域为试点，先期进行相关离岸数据交易的试点。待商业模式、交易模式、运营模式成熟后再推广至全球其他地区，支撑中国国家（一带一路，互联网+）等战略的落地实施，最终形成全球离岸数据交易重要市场。
				</dt>
			</dl>
		</div>
		
		<div class="item-i">
			<h3>组织架构</h3>
			<dl>
				<dt style="">
					<img src="/img/gz/gz.png" style="display: block;margin: 0 auto;"/>
				</dt>
			</dl>
		</div>
		
	</div>
	<h2></h2>
</div>