<% layout('tpl/layout.html') -%>
<style>
	.content .item {
	    background: #f4f4f4 none repeat scroll 0 0;
	    width: 100%;
	}

	.content h2 {
	    display: block;
	    font-size: 2.6rem;
	    padding: 40px 0;
	    text-align: center;
	}
	.content .item .item-i {
	    border-bottom: 1px solid #ccc;
	    margin: 0 auto;
	    width: 80%;
	}

	.content .item .item-i dt {
	    margin-top: 30px;
	}
	.content .item .item-i dt {
	    color: #666;
	    display: block;
	    font-size: 1.4rem;
	    line-height: 30px;
	}
</style>
<div class="container content" style="margin-top: 50px;background-color: #f4f4f4;">
	<h2>&mdash; ·广州大数据创业大赛预告· &mdash;</h2>	
	<div class="item">
		<div class="item-i">
			<h3>公司简介</h3>
			<dl>
				<dt>广州数据交易服务有限公司作为大数据行业发展平台，将与广州市政府工信委以及大数据局深度合作完成广州第一界大数据创新创业大赛，目前大赛正在筹备中，计划开赛时间为5月中旬。
	</dt>
			</dl>
		</div>	
		<div class="item-i">
			<h3>大赛愿景</h3>
			<dl>
				<dt>
					通过广州数据交易服务有限公司这个平台，与广州市政府工信委大数据局合作共同拉动大数据产业应用和发展为目标，开展此创新创新大赛是打造广州大数据良好生态圈的重要手段。通过大赛中涌现的创新团队、技术以及产品为基础实现建立大数据孵化器和众创空间；以服务创业者为核心，由亚信集团、中国联通、中国电信等有实力的数据资源战略合作伙伴为创新创业报名者提供集办公场地、创业辅导、资金支持、资本对接为一体的全链条孵化服务。
				</dt>
				<dt>
					计划通过整合社会各方资源建立大数据应用开发云平台，降低创业门槛。长期以往以季度为大赛阶段性逐期举办连续的大数据创新创业大赛，成果及产品可对接数据交易中心、大数据孵化器及众创空间，加速创新成果的孵化。
				</dt>
			</dl>
		</div>
		
	</div>
	<h2></h2>
</div>