<% layout('tpl/layout.html') -%>
<style>
	.content .item {
	    background: #f4f4f4 none repeat scroll 0 0;
	    width: 100%;
	}

	.content h2 {
	    display: block;
	    font-size: 2.6rem;
	    padding: 40px 0;
	    text-align: center;
	}
	.content .item .item-i {
	    border-bottom: 1px solid #ccc;
	    margin: 0 auto;
	    width: 80%;
	}

	.content .item .item-i dt {
	    margin-top: 30px;
	}
	.content .item .item-i dt {
	    color: #666;
	    display: block;
	    font-size: 1.4rem;
	    line-height: 30px;
	}
</style>
<div class="container content" style="margin-top: 50px;background-color: #f4f4f4;">
	<h2>&mdash; ·联系我们· &mdash;</h2>	
	<div class="item">
		<div class="item-i">
			<dl>
				<dt>公司总部地址：广州市海珠区新港西路82号广州交易所集团办公大楼5楼</dt>
				<dt>邮件：service@gzbdex.com</dt>
				<!--<dt>电话：020-89160990</dt>-->
				<dt>商务及会员支持：020-89160992</dt>
				<dt>技术及平台支持：020-89160990</dt>
				<dt>会员入会： service@gzbdex.com</dt>
				<dt>数据销售： sales@gzbdex.com</dt>
				<dt>数据购买： buy@gzbdex.com</dt>
				<dt>招贤纳士： hr@gzbdex.com</dt>
			</dl>
		</div>	
		
	</div>
	<h2></h2>
</div>