<% layout('tpl/layout.html') -%>
<style>
	.content .item {
	    background: #f4f4f4 none repeat scroll 0 0;
	    width: 100%;
	}

	.content h2 {
	    display: block;
	    font-size: 2.6rem;
	    padding: 40px 0;
	    text-align: center;
	}
	.content .item .item-i {
	    border-bottom: 1px solid #ccc;
	    margin: 0 auto;
	    width: 80%;
	}

	.content .item .item-i dt {
	    margin-top: 30px;
	}
	.content .item .item-i dt {
	    color: #666;
	    display: block;
	    font-size: 1.4rem;
	    line-height: 30px;
	}
</style>
<div class="container content" style="margin-top: 50px;background-color: #f4f4f4;">
	<h2>&mdash; ·帮助中心· &mdash;</h2>	
	<div class="item">
		<div class="item-i">
			<dl>
				<dt>广州数据交易服务有限公司数据交易平台（以下简称“广数交平台”）（www.gzbdex.com）是中立的数据流通服务平台，旨在为各行各业的客户提供便利的数据流通通道，面向全社会链接数据需求方、数据提供方、独立数据分析方、其它数据平台，打造数据流通产业链。
广数交平台对接了多维度数据，覆盖数据种类多样，目前已对接的数据主要包括金融理财、电信运营、电商、气象环保、交通运输、医疗健康等行业的数据。
				</dt>
				<dt>广数交平台分为网站和DataHub客户端，会员可以从网站搜索、浏览数据资源、发布数据、购买数据；通过客户端，会员可以便捷、快速的通过Client端获取数据。
				</dt>
				<dt>客户端安装和使用方法，请下载附件<a href="/helpgz.docx">《DataHub客户端安装和使用方法》</a>查看。
				</dt>
			</dl>
		</div>	
		
	</div>
	<h2></h2>
</div>