<% layout('tpl/layout.html') -%>
<% block('css').append('<link rel="stylesheet" href="/css/module/rqselects.css">')%>
<% block('css').append('<link rel="stylesheet" href="/css/module/rqdetails.css" />') %>
<% block('css').append('<link rel="stylesheet" href="/css/include/editormd.css" />') %>
<% block('js').append('<script src="/plugin/marked.js"></script>') %>
<% block('js').append('<script src="/js/pagescript/rqdetails.js"></script>') %>
<script>
    var gid='<%=gid%>';
</script>

<div style="width: 940px;margin: 0px auto">
    <div class="m-container">
        <div class="m-one">
            <!--<div class="m-one-left">-->
                <!--<img :src='imgurltitle' style="width: 80px;height: 80px;float: left;margin: 20px;"/>-->
            <!--</div>-->
            <div class="m-one-right">
                <div style="float: left;">
                    <div class="m-title" style="float: left">{{datacon.demand_title}}</div>
                    <div class="m-period" style="border: 1px solid darkgreen;color: darkgreen">{{datacon.demand_type}}</div>
                </div>

                <!--<div class="m-hr"></div>-->
                <!--<div style="height: 60px;margin-top: 10px">-->
                    <!--<div class="m-kong">-->
                        <!--<img src="/img/newpic004.png" style="float: left;margin-top: 12px;margin-right: 10px"/>-->
                        <!--<span>{{datacon.pub_date | time}}</span>-->
                    <!--</div>-->
                    <!--<div class="m-kong">-->
                        <!--<template v-if="datacon.label1!=null">-->
                            <!--<div class="m-periodlabel" style="margin-left: 0px">{{datacon.label1}}</div>-->
                        <!--</template>-->
                        <!--<template v-if="datacon.label2!=null">-->
                            <!--<div class="m-periodlabel" style="border: 1px solid brown">{{datacon.label2}}</div>-->
                        <!--</template>-->
                        <!--<template v-if="datacon.label3!=null">-->
                            <!--<div class="m-periodlabel" style="border: 1px solid brown">{{datacon.label3}}</div>-->
                        <!--</template>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="listbtIconWrop">
                    <div class="listCursers" style="font-size: 14px;color: #000">发布方:{{datacon.demand_publisher}}</div>
                    <div class="listbtIcon">
                        <!--<img data-original-title="更新时间" class="tagsIcon"-->
                             <!--src="/img/newpic004.png" data-toggle="tooltip"-->
                             <!--datapalecement="top" title="">-->
							<span class="listCursers" style="font-size: 14px;color: #000"
                                  data-original-title="2016-04-14 10:37:17" data-toggle="tooltip"
                                  datapalecement="top" title="">发布时间:{{datacon.pub_date | time}}</span>
                    </div>
                    <div style="float: right;margin-right: 0px;">
                        <template v-if="datacon.label1!=null && datacon.label1!=''">
                            <span class="period1">{{datacon.label1}}</span>
                        </template>
                        <template v-if="datacon.label2!=null && datacon.label2!=''">
                            <span class="period2">{{datacon.label2}}</span>
                        </template>
                        <template v-if="datacon.label3!=null && datacon.label3!=''">
                            <span class="period3">{{datacon.label3}}</span>
                        </template>
                    </div>
                </div>
            </div>
        </div>
        <template v-if="datacom.contentType.sys.id=='data_demand'">
            <div class="m-two">
                <div class="m-two-container">
                    <div class="m-two-row">
                        <div class="m-two-row-left">数据交付方式</div>
                        <div class="m-two-row-right">{{{datacon.delivery_mode}}}</div>
                    </div>
                    <div class="m-two-row">
                        <div class="m-two-row-left">数据范围</div>
                        <div class="m-two-row-right">{{{data_range}}}</div>
                    </div>
                    <div class="m-two-row">
                        <div class="m-two-row-left">数据时效范围</div>
                        <div class="m-two-row-right">{{{age_range}}}</div>
                    </div>
                    <div class="m-two-row">
                        <div class="m-two-row-left">期望价格</div>
                        <div class="m-two-row-right">{{{datacon.price}}}</div>
                    </div>
                    <div class="m-two-row">
                        <div class="m-two-row-left">期望交付时间</div>
                        <div class="m-two-row-right">{{{datacon.expected_time | time}}}</div>
                    </div>
                    <div class="m-two-row">
                        <div class="m-two-row-left">需求描述</div>
                        <div class="m-two-row-right">{{{demand_desc}}}</div>
                    </div>
                    <div class="m-two-row">
                        <div class="m-two-row-left">应用场景</div>
                        <div class="m-two-row-right">{{{app_scene}}}</div>
                    </div>
                    <div>
                        <div class="m-two-row-left">合作洽谈</div>
                        <div class="m-two-row-right">如需进一步了解与订购洽谈，请联系：
                            <a href="mailto:service-cj@cjbigdata.com" style="color: blue;text-decoration: underline">service@gzbdex.com</a>
                            <!--<div style="line-height: 24px">联系人:{{datacon.bdex_contact}}</div>-->
                            <!--<div style="line-height: 24px">联系电话:{{datacon.contact_phone}}</div>-->
                            <div style="float: left">
                                <div style="line-height: 24px;width: 175px;float: left">联系人:{{datacon.bdex_contact}}</div>
                                <div style="line-height: 24px;width: 300px;float: left">联系电话:{{datacon.contact_phone}}</div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </template>
        <template v-else>
            <div class="m-two">
                <div class="m-two-container">
                    <!--<div class="m-two-row">-->
                        <!--<div class="m-two-row-left">数据交付方式</div>-->
                        <!--<div class="m-two-row-right">{{{datacon.delivery_mode}}}</div>-->
                    <!--</div>-->
                    <!--<div class="m-two-row">-->
                        <!--<div class="m-two-row-left">数据范围</div>-->
                        <!--<div class="m-two-row-right">{{{datacon.data_range}}}</div>-->
                    <!--</div>-->
                    <!--<div class="m-two-row">-->
                        <!--<div class="m-two-row-left">数据时效范围</div>-->
                        <!--<div class="m-two-row-right">{{{datacon.age_range}}}</div>-->
                    <!--</div>-->
                    <!--<div class="m-two-row">-->
                        <!--<div class="m-two-row-left">期望价格</div>-->
                        <!--<div class="m-two-row-right">{{{datacon.price}}}</div>-->
                    <!--</div>-->
                    <!--<div class="m-two-row">-->
                        <!--<div class="m-two-row-left">期望交付时间</div>-->
                        <!--<div class="m-two-row-right">{{{datacon.expected_time | time}}}</div>-->
                    <!--</div>-->
                    <div class="m-two-row">
                        <div class="m-two-row-left">需求描述</div>
                        <div class="m-two-row-right">{{{demand_desc}}}</div>
                    </div>
                    <div class="m-two-row">
                        <div class="m-two-row-left">应用场景</div>
                        <div class="m-two-row-right">{{{app_scene}}}</div>
                    </div>
                    <div class="m-two-row">
                        <div class="m-two-row-left">期望价格</div>
                        <div class="m-two-row-right">{{{datacon.price}}}</div>
                    </div>
                    <div class="m-two-row">
                        <div class="m-two-row-left">期望交付时间</div>
                        <div class="m-two-row-right">{{{datacon.expected_time | time}}}</div>
                    </div>
                    <div>
                        <div class="m-two-row-left">合作洽谈</div>
                        <div class="m-two-row-right">如需进一步了解与订购洽谈，请联系：
                            <a href="mailto:service-cj@cjbigdata.com" style="color: blue;text-decoration: underline">sservice@gzbdex.com</a>
                            <!--<div style="line-height: 24px">联系人:{{datacon.bdex_contact}}</div>-->
                            <!--<div style="line-height: 24px">联系电话:{{datacon.contact_phone}}</div>-->
                            <div style="float: left">
                                <div style="line-height: 24px;width: 175px;float: left">联系人:{{datacon.bdex_contact}}</div>
                                <div style="line-height: 24px;width: 300px;float: left">联系电话:{{datacon.contact_phone}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>

    </div>
</div>
