<% layout('tpl/layout.html') -%>
<% block('css').append('<link rel="stylesheet" href="/plugin/pagination/pagination.css"/>')%>
<% block('js').append('<script src="/plugin/pagination/jquery.pagination.js"></script>') %>
<% block('css').append('<link rel="stylesheet" href="/css/module/rqselects.css">')%>
<% block('js').append('<script src="/js/pagescript/rqselects.js"></script>')%>


<script>
    var type='<%=type%>';
</script>


<div id="newsSelects" style="margin-top: 0px" class="container">

    <div class="m-navselect">
        <ul>
            <!--<li @click="type('all')"><span>全部分类</span></li>-->
            <li @click="type('pro')"><span>数据需求</span></li>
            <li @click="type('sol')"><span>技术/方案需求</span></li>
        </ul>
    </div>

    <div class="g-selects-wrap" style="position: relative;">
        <div class="u-selects-title">{{selectstitle}}</div>
        <div class="g-selects-box">

            <div class="listBox" v-for="obj in datacon">

                <div class="listLeftBox">
                    <div class="listNameTitle">
                        <a href="/rqselects/{{obj.sys.id}}" title="" target="_blank">{{obj.fields.demand_title | str_str}}</a>
                        <div class="listlable">
                            <span class="period">{{obj.fields.demand_type}}</span>
                        </div>
                    </div>
                    <div class="listComment" id="txt">{{{obj.fields.demand_desc | str}}}</div>
                    <div class="listbtIconWrop">
                        <div class="listCursers">发布方:{{obj.fields.demand_publisher}}</div>
                        <div class="listbtIcon">
                            <img data-original-title="更新时间" class="tagsIcon"
                                 src="/img/newpic004.png" data-toggle="tooltip"
                                 datapalecement="top" title="">
							<span class="listCursers"
                                    data-original-title="2016-04-14 10:37:17" data-toggle="tooltip"
                                    datapalecement="top" title="">发布时间:{{obj.fields.pub_date | time}}</span>
                        </div>
                        <div style="float: right;margin-right: 90px;">
                            <template v-if="obj.fields.label1!=null && obj.fields.label1!=''">
                                <span class="period1">{{obj.fields.label1}}</span>
                            </template>
                            <template v-if="obj.fields.label2!=null && obj.fields.label2!=''">
                                <span class="period2">{{obj.fields.label2}}</span>
                            </template>
                            <template v-if="obj.fields.label3!=null && obj.fields.label3!=''">
                                <span class="period3">{{obj.fields.label3}}</span>
                            </template>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!-- loading -->
        <div class="loading"></div>
    </div>

    <div class="page"></div>

</div>

<!--<script src="/js/jquery.min.js"></script>-->
<script>

    var text = document.getElementById("txt");
    var str = text.innerHTML;
    var textLeng = 80;
    if (str.length > textLeng) {
        text.innerHTML = str.substring(0, textLeng) + "..."
    }
</script>

